@model AmazonClone.UI.Models.ProductDetailsModel

@{
    ViewData["Title"] = "Details";
}


<h1 class=" my-4">Details</h1>

<div class="wrapper">
    <div class="left-side">
        <h2>
            @Html.DisplayFor(model => model.Product.NameEn)
        </h2>
        <img src="~/images/neklesh-img.png" width="600px" />
    </div>

    <div class="right-side">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <form asp-action="AddToCart">
                    <h3>Price</h3>
                    <h5 class="card-title">
                        @Html.DisplayFor(model => model.Product.UnitPrice)
                    </h5>
                    <h3>Quantity</h3>
                    <h6 class="card-subtitle mb-2 ">
                        <div class="form-group">
                            <input asp-for="Quantity" class="form-control" defaultValue="1" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </h6>

                    <button type="submit" asp-action="AddToCart" class="btn btn-warning btn-lg btn-block w-100" asp-route-id="@Model.Product.Id" asp-route-quantity="@Model.Quantity">Buy Now</button>
                    <button type="submit" asp-action="AddToCart" class="btn btn-success btn-lg btn-block w-100">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>

</div>


