@* @using Microsoft.AspNetCore.Identity
@using AmazonClone.Model

@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
 *@
@using Microsoft.AspNetCore.Identity
@using AmazonClone.Model

@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<div class="login_menu">
    <ul class="d-flex align-items-center">
        @if (SignInManager.IsSignedIn(User))
        {
            <li>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa fa-user" aria-hidden="true"></i>

                    <span class="padding_10">Hello, @User.Identity?.Name!</span>
                </a>
            </li>
            <li class="nav-item">
                <form class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn text-white">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                    <i class="fa fa-user" aria-hidden="true"></i>

                    <span class="padding_10">Hello, Sign in</span>
                </a>
            </li>
        }
        <li>
            <a asp-controller="Orders" asp-action="Index" >
                <span class="padding_10">Orders</span>
            </a>
        </li>
        <li>
            <a asp-controller="Cart" asp-action="Index">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>

                <span class="padding_10">Cart</span>
            </a>
        </li>
    </ul>
</div>