<!-- banner bg main start -->
<div class="banner_bg_main">
    <!-- banner section start -->
    <div class="banner_section">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="images/amazon1.jpg" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="images/amazon2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="images/amazon3.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner section end -->
</div>

<div class="row">
    <div class="fashion_section_2">
        @foreach (var category in Model)
        {
            <div class="col-lg-3 col-sm-3">
                <div class="box_main">
                    <h4 class="shirt_text">@category.Name</h4>
                    <div class="tshirt_img"><img src="images/jhumka-img.png"></div>
                    <div class="btn_main">
                        <div class="buy_bt">
                            <a asp-controller="Products" asp-action="Index" asp-route-categoryId="@category.Id">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
